**/artifacts/
**/node_modules/
**/__pycache__/
**/.cache/
**/.npm-cache/
**/.pip-cache/
**/test-results/
**/tools/node.exe
**/tools/emsdk/
**/tools/wasi-sdk*/
[[]th08[]]*/
[[]th10[]]*/
*.exe
*.dll
*.wasm
*.o
*.obj
*.a
*.bin
*.dat
*.wav
*.ogg
*.flac
*.rpy
*.rpyx
*.pyc
score*.dat
*.cfg
*.log
.env
.npmrc
.local/
dist/
build-ios*/
*.ipa
*.xcarchive/
*.dSYM/
*.mobileprovision
*.p12
*.p8
*.ttf
*.ttc
ios/*.local.*
